body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:navy;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px black;
  font-size: 20px;
}

h1, h2 {
  color: black;
  margin-bottom: 10px;
}

p {
  color: black;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200pxpx;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

body {
  background-image: url(51.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
